* {
  max-width: 1440px;
}

.navbar {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 1px 0px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar > img {
  margin-left: 60px;
  height: 90px;
  width: 90px;
}
.navbar > div {
  text-align: center;
  margin: auto;
}
.navbar > div > p {
  font-size: 25px;
  font-family: "Kalam", cursive;
  color: rgb(5, 128, 169);
  font-weight: 900;
  text-decoration: underline;
  text-decoration-color: rgb(143, 4, 174);
  margin-left: -100px;
}
.select-Box,
.selectBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.select-Box > div > select,
.selectBox > select {
  padding: 5px 10px;
  border-radius: 3px;
  outline: none;
}
.responsive {
  width: 95vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, auto);
  text-align: center;
  gap: 30px;
  margin: auto;
}


.f-component {
  text-align: center;
  background-color: black;
  color: #ffffff;
  width: 100%;
  padding: 20px 0px;
  margin-top: 20px;
  position: absolute;
  top: 100;

}
.ul-items {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  color: #fff;
  text-decoration: none;
}
.doughnut-charts-container {
  border-bottom: 2px solid rgb(238, 238, 176);
  padding: 10px;
}
.doughnutCh {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, auto);
  margin: auto;
  text-align: center;
  width: min-content;
  gap: 10px;
  margin-top: 10px;
}
.borderRa {
  border: 2px solid rgb(154, 229, 229);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
}

.spinnerCo{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .responsive {
    grid-template-columns: repeat(1, 1fr);
  }
  .doughnutCh {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 420px) {
  .doughnutCh {
    grid-template-columns: repeat(1, 1fr);
  }
}
